@font-face {
    font-family: 'Loew Next Arabic';
    src: url('../fonts/LoewNextArabic-Medium.woff2') format('woff2'),
        url('../fonts/LoewNextArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}